body{
    background-color: #0080002e;
}
.item-class{
    border:1px solid green;
    border-radius:5px;
    width:300px;
    text-align:center;
}
.items{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:30px;
}
.image-size{
    width: 298px !important;
    height: 185px;
}
.item-class :hover{
    cursor: pointer;
}
.input-area{
    width: 470px;
    margin: 100px auto 70px;;
}
#input-area{
    width: 364px;
    height: 40px;
    padding: 6px;
    border: 1px solid green;
}

#button{
    height: 40px;
    margin-left: -5px;
    border: 1px solid green;
    padding: 6px;
    border-radius: 0 3px 3px 0;
    position: relative;
    top: -1px;
    background:orange;
    color:white;
    width:80px;
}

#error{
    color:red;
}

.header-title{
    width:290px;
    float:right;
    color:green;
    font-size: 30px;
    margin-top:10px;
}
.menu{
    width:500px;
    float:left;
}
.nav-area{
    overflow: hidden;
}
#empty-msg{
    text-align: center;
    font-size: 25px;;
}
.popup-img{
    width:100%;
    height:350px; 
}